@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: bisque;
    
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 58px;
    
}

nav {
    display: flex;

}

a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    transition: 0.3s;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.146);
}