* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdfaeb;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
}

#valor {
    padding: 10px;
    border: 1px solid black;
    width: 200px;
    margin: 40px 10px 15px 10px;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;

}

#selecao {
    padding: 10px;
    border-radius: 8px;
    
}

.container-lista {
    margin: 40px 400px;
}



button:hover {
    background-color: #faeddf
}